server:
  port: ${SERVER_PORT:3001}
  servlet:
    session:
      cookie:
        secure: true
        same-site: none

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/agastyapms?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME:com.mysql.cj.jdbc.Driver}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false
  jackson:
    deserialization:
      accept-empty-string-as-null-object: true
    serialization:
      [WRITE_DATES_AS_TIMESTAMPS]: false
management:
  endpoints:
    web:
      exposure:
        include: "*"
